    h2{
        color:black;
        background:green;
        width:40%;
        margin:4px auto;
        text-align: center;    
        font-size: 40px;
        border: solid black 7px;
     


    }
    